<div style="background:rgb(229, 229, 229);height: 100%">
    <div class="view-header map-view">
        <button id="mapnswbtn" type="button" class="button mapnswbtn selected toggle-btn" style="margin-left: 5px;">
            <span class="fa fa-map-o"></span>
        </button>
        <button id="percbtn" type="button" class="button percbtn toggle-btn" style="margin-left: -5px; margin-right: 20px;">
            <span class="fa fa-percent"></span>
        </button>

        <button id="resetbtn" type="button" class="button ">
            <span class="fa fa-arrow-left"></span>
        </button>
    </div>
    <div class="view-body map-view">
        <ul class="chart-list" style="min-height: calc(100% - 60px);">
            <li id="mapnsw">
                <div id="first-chart" class="chart">
                    <div class="nsw-map map">
                        <div class="nsw-map-title">NSW <span class="nsw-map-title-period"></span></div>
                        <div class="map-container" id="container6"></div>
                        <div class="legend-container">
                            <div class="legend-head">
                                <h2>NSW <span class="nsw-map-title-period"></span></h2>
                            </div>
                            <div id="legend3">
                                <div class="legend-text">
                                    <a href="#" class="map-legend-green">
                                        <img src="images/check.png" width="25" alt="">
                                        <span class="portrait">On budget or<br>favourable<br/>&nbsp;</span>
                                        <span class="landscape">On budget or<br>favourable</span>
                                    </a>
                                </div>
                                <div class="legend-text">
                                    <a href="#" class="map-legend-yellow">
                                        <img src="images/right-down.png" width="25" alt="">
                                        <span class="portrait-7plus">>0 but ≤ 0.5% <br>unfavourable</span>
                                        <span class="portrait-noniphone">>0 but ≤ 0.5% <br>unfavourable</span>

                                        <span class="landscape">>0 but ≤ 0.5% <br> unfavourable</span>
                                    </a>
                                </div>
                                <div class="legend-text">
                                    <a href="#" class="map-legend-red">
                                        <img src="images/crush.png" width="25" alt="">
                                        <span class="portrait">>0.5%<br/>unfavourable<br/>&nbsp;</span>
                                        <span class="landscape">>0.5%<br/>unfavourable</span>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <p class="maptext">ABM Performance Indicator: Cost per NWAU (All excl.Non-Admitted)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="mapsyd">
                <div id="second-chart" class="chart">
                    <div class="sydney-map map">
                        <div class="nsw-map-title">Sydney Metropolitan <span class="sydney-map-title-period"></span>
                        </div>
                        <div class="map-container" id="container7"></div>
                        <div class="sydney-legend budget-legend">
                            <p>SHN</p>
                            <ul class="shn">
                                <li class="map-label" id="svhns-panel">
                                    <div class="map-label">
                                        <span class="map-label-name map-label-name-specialnetwork">SVHN</span>
                                        <img class="map-label-img" id="svhns" src="images/red-circ.png" alt="SVHN">
                                    </div>
                                </li>
                                <li class="map-label" id="schns-panel">
                                    <div class="map-label">
                                        <span class="map-label-name map-label-name-specialnetwork">SCHN</span>
                                        <img class="map-label-img" id="schns" src="images/red-circ.png" alt="SCHN"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="legend-container">
                            <div class="legend-head">
                                <h2>Sydney Metropolitan <span class="nsw-map-title-period"></span></h2>
                            </div>
                            <div id="legend2">
                                <div class="legend-text">
                                    <a href="#" class="map-legend-green">
                                        <img src="images/check.png" width="25" alt="">
                                        <span class="portrait">On budget or<br>favourable<br/>&nbsp;</span>
                                        <span class="landscape">On budget or<br>favourable</span>
                                    </a>
                                </div>
                                <div class="legend-text">
                                    <a href="#" class="map-legend-yellow">
                                        <img src="images/right-down.png" width="25" alt="">
                                        <span class="portrait-7plus">>0 but ≤ 0.5% <br>unfavourable</span>
                                        <span class="portrait-noniphone">>0 but ≤ 0.5% <br>unfavourable</span>

                                        <span class="landscape">>0 but ≤ 0.5% <br>unfavourable</span>
                                    </a>
                                </div>
                                <div class="legend-text">
                                    <a href="#" class="map-legend-red">
                                        <img src="images/crush.png" width="25" alt="">
                                        <span class="portrait">>0.5%<br/>unfavourable<br/>&nbsp;</span>
                                        <span class="landscape">>0.5%<br/>unfavourable</span>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <p class="maptext"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li id="perc" style="display:none;padding-top: 45px;">
                <div id="third-chart" class="chart qvobject qs-mobile-table">
                    <div class="loading" style="text-align: center">
                        <i id='processing-chart' class="fa fa-spinner fa-spin fa-3x fa-fw"
                           style="font-size: 50px;color: wheat;display: none"></i>
                    </div>
                </div>
            </li>
        </ul>
        <div class="orientation-message" style="height:60px; background: black; z-index: 4;">
            <span class="fa fa-info-circle"></span> view in landscape for best performance
        </div>
    </div>
</div>