<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABM On the Go</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="../../favicon.ico" type="images/x-icon"/>
    <link rel="apple-touch-icon" href="../../Icon@2x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Icon-76@3x.png">
    <link rel="apple-touch-icon" sizes="50x50" href="../../Icon-Small@3x.png">
    <link rel="stylesheet" href="../../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/vendor/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="css/vendor/jquery.bxslider.css"> -->
    <link rel="stylesheet" href="../../css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/vendor/animate.css">
    <link rel="stylesheet" href="../../css/main.css?000027">
    <link rel="stylesheet" href="../../css/app.css?000026">
    <style>
        body {
            background-color: #fff
        }

        #criteriatable {
            min-width: 0;
        }
    </style>
</head>

<body>

<div id="content-panel" class="outer-wrap">
    <section class="chart-block">
        <div class="chart-banner" style="background-image:url(../../images/banner-2.jpg)">
            <div class="section-title-wrap">
                <div class="section-title">
                    <h2>Info</h2>
                    <p>Portal On the Go info</p>
                </div>
            </div>
        </div>
        <div class="holder">
            <div class="chart-title">
            </div>
            <div class="table-contain-wrap">
                <div class="table-responsive">
                    <table class="info-table table-striped" id="infotable">
                        <thead style="border-bottom: 1px solid #d9d9d9">
                        <tr>
                            <th class="cri-first" colspan="3" style="text-align: center">Criteria</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>ICU/PICU Criteria</td>
                            <td>More than 24,000 ICU hours</td>
                            <td>And more than 20% using mechanical ventilation</td>
                        </tr>
                        <tr>
                            <td>Low value Block Funding Criteria</td>
                            <td>Metro area, Acute Inpatient <br/> Less or equal to 1,800 NWAU</td>
                            <td>Rural area, all service <br/> Less or equal to 3,500 NWAU</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="info-table table-striped table-border" id="criteriatable">
                        <thead>
                        <tr>
                            <th class="cri-first">NSW Health Strategic Priorities 2017-18</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Patient safety first</td>
                        </tr>
                        <tr>
                            <td>Leading better value care</td>
                        </tr>
                        <tr>
                            <td>Systems integration</td>
                        </tr>
                        <tr>
                            <td>Digital health and analytics</td>
                        </tr>
                        <tr>
                            <td>Strengthening governance and accountability</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</div>
</body>

</html>
