<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ABM On the Go</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="../../favicon.ico" type="images/x-icon" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../Icon-76@3x.png">
  <link rel="apple-touch-icon" sizes="50x50" href="../../Icon-Small@3x.png">
  <link rel="stylesheet" href="../../css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/main.css?000026">
  <link rel="stylesheet" href="../../css/app.css?000026">
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="content-panel" class="outer-wrap" >
    <header class="adm-header">
      <div class="container-fluid">
        <div class="logoHolder">
          <h1>
            <a href="../../main.html" class="toplogo">
              StickerHeader
              <img src="../../images/logo2x.png" alt="ABM Executive" />
            </a>
          </h1>
        </div>
        <div class="mainMenu">
          <p>Welcome to the ABM PORTAL ON THE GO</p>
        </div>

      </div>
    </header>


    <section class="chart-block">
      <div class="chart-banner" style="background-image:url(images/banner-2.jpg)">
        <div class="section-title-wrap">
          <div class="section-title">
            <h2>Info</h2>
            <!--p class="RQScoreTextTile">Portal On the Go info</p-->
	    <p>Portal on the Go info</p>
          </div>
        </div>
      </div>
      <div class="holder">
          <div class="chart-title">
          </div>
          <div class="table-contain-wrap">
            <div class="table-responsive">
              <table class="info-table table-striped table-border" id="criteriatable">
                <thead>
                  <tr>
                    <th class="cri-first">Criteria</th>
                    <th class="cri-second"></th>
                    <th class="cri-third"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ICU/PICU Criteria</td>
                    <td>More than 24,000 ICU hours</td>
                    <td>And more than 20% using mechanical ventilation</td>
                  </tr>
                  <tr>
                    <td>Low value Block Funding Criteria</td>
                    <td>Metro area, Acute Inpatient <br /> Less or equal to 1,800 NWAU</td>
                    <td>Rural area, all service <br /> Less or equal to 3,500 NWAU</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="info-table table-striped table-border" id="criteriatable">
                <thead>
                  <tr>
                    <th class="cri-first">NSW Health Strategic Priorities 2017-18</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>Patient safety first</td></tr>
		  <tr><td>Leading better value care</td></tr>
		  <tr><td>Systems integration</td></tr>
		  <tr><td>Digital health and analytics</td></tr>
		  <tr><td>Strengthening governance and accountability</td></tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-logo">
        <a href="#">
          <img src="../../images/logo2x.png" alt="NSW Health">
        </a>
      </div>
      <div class="footer-content">
        <div class="host">
          <div class="img-wrap">
            <img src="../../images/footer-icon2x.png" alt="ABM Executive Dashboard">
          </div>
          <div class="text">
            <p>
              ABM PORTAL ON THE GO
            </p>
          </div>
        </div>
        <div class="bottom-content">
          <p><i class="fa fa-play-circle-o" aria-hidden="true"></i> Version Number: <val id="last-updated"></val></p>
        </div>
      </div>
      <div class="footer-menu">
        <a href="info.html">
          <i class="fa fa-info-circle"></i>
        </a>
      </div>
    </footer>
    <div class="gotoTop">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
    <div class="hidden-colortiles">
    </div>
  </div>
</body>

</html>
